@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-personalizado {
  background-color: #12112E;
}

.bg-personalizado-offcanvas {
  background-color: #12112E;
}

.btn-close {
  --bs-btn-close-color: #000;
  --bs-btn-close-bg: url(../assets/icons/close.png);
  --bs-btn-close-opacity: 0.5;
  --bs-btn-close-hover-opacity: 0.75;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 0.25;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: var(--bs-btn-close-color);
  background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--bs-btn-close-opacity);
}

.offcanvas {
  color: #6F99AF;
}

.fa-bars {
  margin-top: 5px;
  color: #6F99AF;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler {
  --bs-navbar-toggler-border-color: none;
  --bs-navbar-toggler-border-radius: 0;
  --bs-navbar-toggler-focus-width: 0;
  --bs-navbar-toggler-transition: none;
  cursor: pointer;
  border: none;
}

.offcanvas-title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.nav-link {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.nav-link:hover {
  color: #6F99AF;
}

.footer {
  position: static;
  left: 0;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
  background-color: #12112E;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer__container {
  max-width: 100%;
  margin: 0 auto;
  bottom: 0;
}
.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer__links {
  padding: 10px;
}
.footer__links a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: #000;
  transition: background-color 0.3s ease;
}
.footer__links a:hover {
  background-color: #6F99AF;
  color: #fff;
}
.footer__creador {
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.footer__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
}
.footer__text span {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 16px;
}

.hero {
  background: url("../assets/images/taylor_portada.png") no-repeat center center fixed;
  background-size: cover;
  height: 920px;
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: auto;
}

.hero__section {
  position: sticky;
  top: 0;
  padding: 20px;
  text-align: center;
}
.hero__section h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #FFF;
  margin: 0;
  padding-top: 500px;
  letter-spacing: 3px;
}
.hero__section hr {
  width: 200%;
  height: 2px;
  background-color: #FFF;
  margin: 15px auto;
  margin-left: -50%;
  margin-right: -50%;
  border-top: none;
  opacity: 100%;
}
.hero__section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #FFF;
  margin: 0;
}

.caracteristicas {
  grid-area: destacado;
  background: url("../assets/images/fondo_contenido_dos.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 60px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.caracteristicas__lista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.caracteristicas__item {
  align-items: center;
  text-align: center;
  padding: 10px;
}
.caracteristicas__item dd {
  margin: 0;
}
.caracteristicas__item dt img {
  padding: 5px;
  width: 70px;
  height: 70px;
}
.caracteristicas__item h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #12112E;
  margin-top: 15px;
  margin-bottom: 15px;
}
.caracteristicas__item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #12112E;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

.tour {
  background: url("../assets/images/fondo_contenido_tres.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 70px;
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "area1 area1" "c1 c2" "area4 area4";
}
.tour__titulo {
  grid-area: area1;
}
.tour__titulo h2 {
  font-size: 40px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 10px;
}
.tour__titulo hr {
  border: none;
  border-top: 2px solid #ffffff;
  width: 250px;
  margin-left: 0px;
  margin-top: 20px;
  opacity: 100%;
}
.tour__columnauno .info {
  grid-area: c1;
}
.tour__columnauno .info__ol {
  list-style: none;
  padding: 0;
}
.tour__columnauno .info__li {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.tour__columnauno .info__fecha, .tour__columnauno .info__estadio, .tour__columnauno .info__ubicacion, .tour__columnauno .info__status {
  margin: 1px 0;
}
.tour__columnauno .info__fecha {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #FFF;
}
.tour__columnauno .info__estadio {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #FFF;
  white-space: nowrap;
}
.tour__columnauno .info__ubicacion {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}
.tour__columnauno .info__status {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #FF0000;
  margin: 2px 20px;
}
.tour__columnados .info {
  grid-area: c2;
}
.tour__columnados .info__ol {
  list-style: none;
  padding: 0;
}
.tour__columnados .info__li {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.tour__columnados .info__fecha, .tour__columnados .info__estadio, .tour__columnados .info__ubicacion, .tour__columnados .info__status {
  margin: 3px 0;
}
.tour__columnados .info__fecha {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #FFF;
}
.tour__columnados .info__estadio {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #FFF;
  white-space: nowrap;
}
.tour__columnados .info__ubicacion {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}
.tour__columnados .info__status {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #FF0000;
  margin: 2px 20px;
}
.tour__informacion {
  grid-area: area4;
  display: flex;
  align-items: center;
}
.tour__informacion p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  padding: 50px;
  margin: 0px;
}

@media (max-width: 1099px) {
  .hero__section hr {
    width: 750px;
    height: 2px;
    margin: 15px auto;
  }
}
@media (max-width: 920px) {
  .caracteristicas__lista {
    flex-direction: column;
    justify-content: space-between;
  }
  .caracteristicas__item p {
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
  }
}
@media (max-width: 895px) {
  .hero__section hr {
    width: 550px;
  }
  .caracteristicas__item {
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .tour {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "area1" "c1" "c2" "area4";
  }
  .tour__columnauno {
    grid-area: c1;
    justify-self: center;
  }
  .tour__columnados {
    grid-area: c2;
    justify-self: center;
  }
}
@media (max-width: 615px) {
  .hero__section hr {
    width: 300px;
  }
  .tour {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "area1" "c1" "c2" "area4";
  }
  .tour__columnauno {
    grid-area: c1;
    justify-self: flex-start;
    margin: 30px 0 0 0;
  }
  .tour ol li {
    list-style: none;
    padding: 0;
    margin-left: 0;
  }
  .tour ol {
    margin-bottom: 0;
    padding-left: 0;
  }
  .tour__columnados {
    grid-area: c2;
    justify-self: flex-start;
    margin-bottom: 30px;
  }
  .tour__informacion {
    justify-content: flex-start;
  }
  .tour__informacion p {
    text-align: left;
    padding: 0;
  }
  .caracteristicas__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
  }
  .caracteristicas dl {
    margin-bottom: 0;
  }
  .caracteristicas__item {
    text-align: center;
    padding: 20px 0;
  }
  .caracteristicas__item dd {
    margin: 0;
  }
  .caracteristicas__item dt img {
    padding: 5px;
    width: 70px;
    height: 70px;
  }
  .caracteristicas__item h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #12112E;
    margin: 10px 0;
  }
  .caracteristicas__item p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #12112E;
    margin: 0;
    padding: 0 20px;
  }
}
.galeria {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../assets/images/fondo-galeria.png");
  background-repeat: repeat;
  padding: 7px;
}
.galeria h2 {
  display: flex;
  font-size: 40px;
  color: #12112E;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 10px;
  justify-content: center;
  margin-top: 30px;
}

.galeria__imagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.galeria__imagenes img {
  width: 650px;
  height: 500px;
  object-fit: cover;
  padding: 7px;
}
.galeria__imagenes img:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.videos {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../assets/images/fondo-galeria.png");
  padding: 7px;
}
.videos h2 {
  display: flex;
  font-size: 40px;
  color: #12112E;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 10px;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}

.videos__galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.videos__galeria iframe {
  width: 630px;
  height: 385px;
  padding: 7px;
}
.videos__galeria iframe:hover {
  opacity: 0.5;
  transition: 0.5s;
}

@media (max-width: 700px) {
  .galeria__imagenes img {
    width: 450px;
    height: 300px;
    object-fit: cover;
    padding: 7px;
  }
  .videos__galeria iframe {
    width: 460px;
    height: 215px;
    padding: 7px;
  }
}
@media (max-width: 550px) {
  .galeria__imagenes img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    padding: 7px;
  }
  .videos__galeria iframe {
    width: 350px;
    height: 200px;
    padding: 7px;
  }
}

/*# sourceMappingURL=style.css.map */
