@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-personalizado {
  background-color: #12112E;
}

.bg-personalizado-offcanvas {
  background-color: #12112E;
}

.btn-close {
  --bs-btn-close-color: #000;
  --bs-btn-close-bg: url(../assets/icons/close.png);
  --bs-btn-close-opacity: 0.5;
  --bs-btn-close-hover-opacity: 0.75;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 0.25;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: var(--bs-btn-close-color);
  background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--bs-btn-close-opacity);
}

.offcanvas {
  color: #6F99AF;
}

.fa-bars {
  margin-top: 5px;
  color: #6F99AF;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler {
  --bs-navbar-toggler-border-color: none;
  --bs-navbar-toggler-border-radius: 0;
  --bs-navbar-toggler-focus-width: 0;
  --bs-navbar-toggler-transition: none;
  cursor: pointer;
  border: none;
}

.offcanvas-title {
  margin-left: 12px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.nav-link {
  margin-left: 12px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.nav-link:hover {
  color: #6F99AF;
}

.footer {
  position: static;
  left: 0;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
  background-color: #12112E;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer__container {
  max-width: 100%;
  margin: 0 auto;
  bottom: 0;
}
.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer__links {
  padding: 10px;
}
.footer__links a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: #000;
  transition: background-color 0.3s ease;
}
.footer__links a:hover {
  background-color: #6F99AF;
  color: #fff;
}
.footer__creador {
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.footer__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
}
.footer__text span {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 16px;
}

.hero {
  background: url("../assets/images/taylor_portada.png") no-repeat center center fixed;
  background-size: cover;
  height: 920px;
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: auto;
}

.hero__section {
  position: sticky;
  top: 0;
  padding: 20px;
  text-align: center;
}
.hero__section h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #FFF;
  margin: 0;
  padding-top: 500px;
  letter-spacing: 3px;
  margin: 0;
  padding-top: 500px;
  letter-spacing: 3px;
}
.hero__section hr {
  width: 200%;
  height: 2px;
  background-color: #FFF;
  margin: 15px auto;
  margin-left: -50%;
  margin-right: -50%;
  border-top: none;
  opacity: 100%;
}
.hero__section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #FFF;
  font-weight: 500;
  margin: 0;
}

.caracteristicas {
  grid-area: destacado;
  background: url("../assets/images/fondo-erastaylor.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 60px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.caracteristicas__lista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.caracteristicas__item {
  align-items: center;
  text-align: center;
  padding: 10px;
}
.caracteristicas__item dd {
  margin: 0;
}
.caracteristicas__item dt {
  position: relative;
}
.caracteristicas__item dt img {
  padding: 5px;
  width: 70px;
  height: 70px;
  transition: transform 0.3s;
}
.caracteristicas__item dt:hover img {
  transform: scale(1.2);
}
.caracteristicas__item h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #12112E;
  margin-top: 15px;
  margin-bottom: 15px;
}
.caracteristicas__item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #12112E;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

.tour {
  background: url("../assets/images/fondo_contenido_tres.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 70px;
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "area1 area1" "c1 c2" "area4 area4";
}
.tour__titulo {
  grid-area: area1;
}
.tour__titulo h2 {
  font-size: 40px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 10px;
}
.tour__titulo hr {
  border: none;
  border-top: 2px solid #ffffff;
  width: 250px;
  margin-left: 0px;
  margin-top: 20px;
  opacity: 100%;
}
.tour__columnauno .info {
  grid-area: c1;
}
.tour__columnauno .info__ol {
  list-style: none;
  padding: 0;
}
.tour__columnauno .info__li {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.tour__columnauno .info__fecha, .tour__columnauno .info__estadio, .tour__columnauno .info__ubicacion, .tour__columnauno .info__status {
  margin: 1px 0;
}
.tour__columnauno .info__fecha {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #FFF;
}
.tour__columnauno .info__estadio {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #FFF;
  white-space: nowrap;
}
.tour__columnauno .info__ubicacion {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}
.tour__columnauno .info__status {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #FF0000;
  margin: 2px 20px;
}
.tour__columnados .info {
  grid-area: c2;
}
.tour__columnados .info__ol {
  list-style: none;
  padding: 0;
}
.tour__columnados .info__li {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.tour__columnados .info__fecha, .tour__columnados .info__estadio, .tour__columnados .info__ubicacion, .tour__columnados .info__status {
  margin: 3px 0;
}
.tour__columnados .info__fecha {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #FFF;
}
.tour__columnados .info__estadio {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #FFF;
  white-space: nowrap;
}
.tour__columnados .info__ubicacion {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}
.tour__columnados .info__status {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #FF0000;
  margin: 2px 20px;
}
.tour__informacion {
  grid-area: area4;
  display: flex;
  align-items: center;
}
.tour__informacion p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  padding: 50px;
  margin: 0px;
}

.discografia {
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/images/fondotaylorsilueta.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  margin-top: 52px;
}

.discografia__taylor {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.discografia__titulo {
  margin-top: 10%;
}
.discografia__titulo h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #FFF;
  padding: 80px;
  letter-spacing: 5px;
}

.discografia__content .datos__ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
.discografia__content .datos__li {
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 30px;
}
.discografia__content .datos__numero, .discografia__content .datos__stats, .discografia__content .datos__plataforma {
  margin: 1px 0;
}
.discografia__content .datos__numero {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #FFF;
  margin-bottom: 3px;
}
.discografia__content .datos__stats {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #FFF;
  white-space: nowrap;
  margin: 3px 0 3px 0;
}
.discografia__content .datos__plataforma {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #FFF;
  margin-top: 3px;
}

.discografia__spotify {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 50px 0px 0px 80px;
  margin-left: 130px;
}
.discografia__spotify button {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  color: #FFF;
  padding: 9px 25px;
  background: none;
  border: 2px solid #FFF;
  border-radius: 30px;
  border-top-right-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.discografia__spotify button:hover {
  background-color: #FFF;
  color: #12112E;
  transform: scale(1.1);
  font-weight: 700;
}

.eras {
  display: flex;
  width: 100%;
  height: 800px;
  background-color: #12112E;
}
.eras img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.eras img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.albumes-taylor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #080818;
  padding: 50px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.albumes-taylor .album {
  position: relative;
  margin: 25px;
  width: 500px;
}
.albumes-taylor .album img {
  width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}
.albumes-taylor .album:hover .album-text, .albumes-taylor .album:hover .reputation-text, .albumes-taylor .album:hover .red-text, .albumes-taylor .album:hover .speaknow-text, .albumes-taylor .album:hover .fearless-text {
  opacity: 1;
}
.albumes-taylor .album-text, .albumes-taylor .reputation-text, .albumes-taylor .red-text, .albumes-taylor .speaknow-text, .albumes-taylor .fearless-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.albumes-taylor .album-text h2, .albumes-taylor .reputation-text h2, .albumes-taylor .red-text h2, .albumes-taylor .speaknow-text h2, .albumes-taylor .fearless-text h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}
.albumes-taylor .album-text hr, .albumes-taylor .reputation-text hr, .albumes-taylor .red-text hr, .albumes-taylor .speaknow-text hr, .albumes-taylor .fearless-text hr {
  border: none;
  border: 1px solid #ffffff;
  width: 50px;
  margin: 5px 0;
  opacity: 100%;
}
.albumes-taylor .album-text h3, .albumes-taylor .reputation-text h3, .albumes-taylor .red-text h3, .albumes-taylor .speaknow-text h3, .albumes-taylor .fearless-text h3 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
}
.albumes-taylor .fearless-text {
  background: linear-gradient(to bottom, rgba(171, 122, 36, 0), rgb(171, 122, 36));
}
.albumes-taylor .fearless-text h2 {
  color: #ffffff;
}
.albumes-taylor .speaknow-text {
  background: linear-gradient(to bottom, rgba(81, 22, 81, 0), rgb(81, 22, 81));
}
.albumes-taylor .speaknow-text h2 {
  color: #ffffff;
}
.albumes-taylor .red-text {
  background: linear-gradient(to bottom, rgba(149, 30, 26, 0), rgb(149, 30, 26));
}
.albumes-taylor .red-text h2 {
  color: #ffffff;
}
.albumes-taylor .reputation-text {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}
.albumes-taylor .reputation-text h2 {
  color: #ffffff;
}

.disco {
  background-color: #080818;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.disco__taylor {
  margin: 50px 50px 50px 50px;
}
.disco ol {
  list-style: none;
  padding: 0;
}
.disco__li {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.disco__li.fearless {
  background: url("../assets/images/disco-fearless.png");
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.disco__li.speaknow {
  background: url("../assets/images/disco-speaknow.png");
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.disco__li.red {
  background: url("../assets/images/disco-red.png");
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.disco__li.reputation {
  background: url("../assets/images/disco-reputation.png");
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.disco__title, .disco__description, .disco__year {
  margin: 20px 0px 20px 20px;
}
.disco__title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #FFF;
}
.disco__description {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FFF;
}
.disco__year {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}
.disco__spotify {
  display: flex;
  align-items: center;
  align-self: center;
}
.disco__spotify iframe {
  border-radius: 12px;
  width: 400px;
  height: 450px;
  margin-bottom: 20px;
}

.galeria {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../assets/images/fondo-galeria.png");
  background-repeat: repeat;
  padding: 7px;
}
.galeria h2 {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #12112E;
  letter-spacing: 10px;
  justify-content: center;
  margin-top: 30px;
}

.galeria__imagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.galeria__imagenes img {
  width: 650px;
  height: 500px;
  object-fit: cover;
  padding: 7px;
  transition: opacity 0.5s;
}
.galeria__imagenes img:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.videos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-image: url("../assets/images/fondo-galeria.png");
  padding: 7px;
}
.videos__texto {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #12112E;
  letter-spacing: 10px;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}
.videos__texto::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #6F99AF;
  border-right: #6F99AF;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}
.videos__galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.videos__galeria iframe {
  width: 630px;
  height: 385px;
  padding: 7px;
  transition: opacity 0.5s;
}
.videos__galeria iframe:hover {
  opacity: 0.5;
}

.custom-image {
  margin-top: 52px;
  object-fit: cover;
}

.taylor-cards {
  background-color: #08081c;
  height: 100%;
  display: grid;
  place-items: center center;
  font-family: "Montserrat", sans-serif;
  padding: 50px 0 50px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}

.card {
  background-color: #12112E;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.card-container {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card-container img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.card-container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
  transition: 0.5s ease;
}
.card-container.gradient:hover::after {
  background-image: linear-gradient(135deg, #12112E, #ff9900);
}
.card-container.gradientdos:hover::after {
  background-image: linear-gradient(135deg, #12112E, #0100ec);
}
.card-container.gradienttres:hover::after {
  background-image: linear-gradient(135deg, #12112E, #fb36f4);
}

.cards__detalles {
  padding: 20px 10px;
}
.cards__detalles h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFF;
  margin: 10px 0 15px 15px;
}
.cards__detalles p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #B7B7B7;
  line-height: 30px;
  font-weight: 400;
  margin-left: 15px;
}

.facts {
  background: url("../assets/images/taylor-datos.png");
  background-size: cover;
  padding: 60px;
}

.facts__titulo h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #FFF;
}
.facts__titulo hr {
  width: 300px;
  height: 2px;
  background-color: #FFF;
  margin-top: 20px;
  border-top: none;
  opacity: 1;
}

.container-rectangulo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px 0 100px 0;
}

.rectangulo {
  width: 200px;
  height: 150px;
  border: 2px solid #fff;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rectangulo h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #6F99AF;
  margin: 0;
}
.rectangulo P {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #FFF;
  margin: 0;
}

.contacto {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../assets/images/contacto-background.png);
  background-size: cover;
}
.contacto .contenido {
  max-width: 800px;
  margin-bottom: 30px;
  margin-top: 40px;
}
.contacto .contenido h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #fff;
  text-align: center;
}
.contacto .contenido p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .contacto__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.container .contacto__info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contacto__info .box .icon {
  min-width: 60px;
  height: 60px;
  width: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contacto__info .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #FFF;
  flex-direction: column;
  font-weight: 300;
}
.container .contacto__info .box .text h3 {
  font-weight: 500;
  color: #6F99AF;
}

.contacto__form {
  width: 40%;
  padding: 40px;
  background-color: #fff;
}
.contacto__form h2 {
  font-size: 30px;
  color: #6F99AF;
  font-weight: 700;
}
.contacto__form .input__box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contacto__form .input__box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #494949;
}
.contacto__form .input__box input[type=submit] {
  width: 100px;
  background: #6F99AF;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.contacto__form .input__box input[type=submit]:hover {
  background-color: #12112E;
}

.contacto__form .input__box input,
.contacto__form .input__box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #12112E;
  outline: none;
  resize: none;
}

.contacto__form .input__box input:focus ~ span,
.contacto__form .input__box input:valid ~ span,
.contacto__form .input__box textarea:focus ~ span,
.contacto__form .input__box textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.mapa {
  margin-top: 50px;
  width: 50vh;
  height: 40vh;
}
.mapa iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 1099px) {
  .hero__section hr {
    width: 750px;
    margin: 15px auto;
  }
}
@media (max-width: 920px) {
  .caracteristicas__lista {
    flex-direction: column;
    justify-content: space-between;
  }
  .caracteristicas__item p {
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
  }
}
@media (max-width: 895px) {
  .hero__section hr {
    width: 550px;
  }
  .caracteristicas__item {
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .tour {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "area1" "c1" "c2" "area4";
  }
  .tour__columnauno {
    grid-area: c1;
    justify-self: center;
  }
  .tour__columnados {
    grid-area: c2;
    justify-self: center;
  }
}
@media (max-width: 615px) {
  .hero__section hr {
    width: 300px;
  }
  .tour {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "area1" "c1" "c2" "area4";
  }
  .tour__columnauno {
    grid-area: c1;
    justify-self: flex-start;
    margin: 30px 0 0 0;
  }
  .tour ol li {
    list-style: none;
    padding: 0;
    margin-left: 0;
  }
  .tour ol {
    margin-bottom: 0;
    padding-left: 0;
  }
  .tour__columnados {
    grid-area: c2;
    justify-self: flex-start;
    margin-bottom: 30px;
  }
  .tour__informacion {
    justify-content: flex-start;
  }
  .tour__informacion p {
    text-align: left;
    padding: 0;
  }
  .caracteristicas__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
  }
  .caracteristicas dl {
    margin-bottom: 0;
  }
  .caracteristicas__item {
    text-align: center;
    padding: 20px 0;
  }
  .caracteristicas__item dd {
    margin: 0;
  }
  .caracteristicas__item dt img {
    padding: 5px;
    width: 70px;
    height: 70px;
  }
  .caracteristicas__item h3 {
    font-size: 25px;
    margin: 10px 0;
  }
  .caracteristicas__item p {
    font-size: 16px;
    margin: 0;
    padding: 0 20px;
  }
}
@media (max-width: 1620px) {
  .discografia__taylor {
    position: absolute;
    width: 700px;
    z-index: 1;
  }
}
@media (max-width: 1280px) {
  .discografia__taylor {
    position: absolute;
    width: 500px;
    z-index: 1;
  }
}
@media (max-width: 835px) {
  .discografia__titulo {
    margin-top: 50px;
    margin-left: 10px;
  }
  .discografia__titulo h1 {
    font-size: 60px;
    padding: 40px;
  }
  .discografia__spotify {
    margin-left: 110px;
  }
  .discografia__content .datos__ol {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 25px;
  }
  .discografia__content .datos__li {
    margin-left: 10px;
  }
}
@media (max-width: 700px) {
  .discografia__taylor {
    position: absolute;
    width: 500px;
    z-index: -1;
  }
}
@media (max-width: 920px) {
  .eras {
    display: flex;
    width: 100%;
    height: 800px;
    background-color: #12112E;
  }
  .eras img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
  }
  .eras img:hover {
    cursor: crosshair;
    width: 200px;
    opacity: 1;
    filter: contrast(120%);
  }
}
@media (max-width: 550px) {
  .album .fearless-text h2,
  .album .speaknow-text h2,
  .album .red-text h2,
  .album .reputation-text h2 {
    font-size: 35px;
  }
  .album .fearless-text h3,
  .album .speaknow-text h3,
  .album .red-text h3,
  .album .reputation-text h3 {
    font-size: 16px;
  }
}
.disco__title, .disco__description, .disco__year {
  margin: 20px 0px 20px 5px;
}
.disco__title {
  font-size: 30px;
}
.disco__spotify {
  margin-left: 5px;
}
.disco__spotify iframe {
  width: 300px;
  height: 400px;
}

@media (max-width: 700px) {
  .galeria__imagenes img,
  .videos__galeria iframe {
    object-fit: cover;
    padding: 7px;
  }
  .galeria__imagenes img {
    width: 450px;
    height: 300px;
  }
  .videos__galeria iframe {
    width: 460px;
    height: 215px;
  }
}
@media (max-width: 550px) {
  .galeria__imagenes img,
  .videos__galeria iframe {
    object-fit: cover;
    padding: 7px;
  }
  .galeria__imagenes img {
    width: 350px;
    height: 200px;
  }
  .videos__galeria iframe {
    width: 350px;
    height: 200px;
  }
}
@media (max-width: 1920px) {
  .carousel-item img {
    height: 800px;
  }
}
@media (max-width: 1000px) {
  .carousel-item img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 450px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (max-width: 450px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (max-width: 600px) {
  .carousel-item h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFF;
  }
}
@media (max-width: 500px) {
  .carousel-caption {
    display: none;
  }
}
@media (max-width: 991px) {
  .contacto {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contacto__info {
    margin-bottom: 40px;
  }
  .container .contacto__info,
  .contacto__form {
    width: 100%;
  }
}
@media (max-width: 630px) {
  .mapa {
    margin-top: 50px;
    width: 30vh;
    height: 20vh;
  }
}

/*# sourceMappingURL=style.css.map */
