@media (max-width: 450px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 450px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

// CAROUSEL MEDIA QUERIES 
@media (max-width: 600px) {
    .carousel-item h5 {
        font-size: 16px;
        color: $text-color;
        font-family: $font-family;
        font-weight: 700;
    }
}

@media (max-width: 550px) {
    .carousel-caption {
        display: none;
    }
}