/* formulario de contacto media queries */
@media (max-width: 991px) {
    .contacto {
        padding: 50px;
    }
    
    .container {
        flex-direction: column;
    }

    .container .contacto__info {
        margin-bottom: 40px;
    }

    .container .contacto__info,
    .contacto__form {
        width: 100%;
    }
}
/* fin formulario de contacto media queries */

/* mapa media queries */
@media (max-width: 630px) {
    .mapa {
        margin-top: 50px;
        width: 30vh;
        height: 20vh; 
    }
}