@media (max-width: 700px) {
    .galeria__imagenes img {
        width: 450px;
        height: 300px;
        object-fit: cover;
        padding: 7px;
    }

    .videos__galeria iframe {
        width: 460px;
        height: 215px;
        padding: 7px;
    }
}

@media (max-width: 550px) {
    .galeria__imagenes img {
        width: 350px;
        height: 200px;
        object-fit: cover;
        padding: 7px;
    }

    .videos__galeria iframe {
        width: 350px;
        height: 200px;
        padding: 7px;
    }
}


