//discografia datos
.discografia {
    width: 100%;
    min-height: 100vh;
    background-image: url("../assets/images/fondotaylorsilueta.webp");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin-top: 52px;
}

.discografia__taylor {
    position: absolute;
    bottom: 0;
    right: 10%; 
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.discografia__titulo {
    margin-top: 10%;
    h1 {
        @include fuente-personalizada(700, 70px, $text-color);
        padding: 80px;
        letter-spacing: 5px;
	}
}

.discografia__content .datos{    

    &__ol  {
        list-style: none;
        padding: 0; 
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        }

    &__li {
            display: flex;
            flex-direction: column;
            padding: 0 30px 0 30px;
            }
            
            &__numero,
            &__stats,
            &__plataforma {
                margin: 1px 0;
            }

            &__numero {
                @include fuente-personalizada(600, 24px, $text-color);
                margin-bottom: 3px;
            }

            &__stats {
				@include fuente-personalizada(600, 18px, $text-color);
                white-space: nowrap;
                margin: 3px 0 3px 0;
            }

            &__plataforma {
				@include fuente-personalizada(400, 18px, $text-color);
                margin-top: 3px;
            }
    }

.discografia__spotify {
    width: 50px;
    @include flex-center(row);
    margin: 50px 0px 0px 80px;
    margin-left: 130px;


    button{
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        color:$text-color;
        padding: 9px 25px;
        background: none;
        border: 2px solid $text-color;
        border-radius: 30px; 
        border-top-right-radius: 0;   
        cursor: pointer;
        transition: all 0.3s ease 0s;
    
    &:hover{
        background-color: $text-color;
        color: #12112E;
        transform:scale(1.1);
        font-weight: 700;
        }
    }
}
//fin discografia datos

//discografia fotos de sus eras
.eras {
    display: flex;
    width: 100%;
    height:800px;
    background-color: $primary-color;

    img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: 0.8;
        transition: 0.5s ease;

        &:hover {
            cursor: crosshair; 
            width: 300px;
            opacity: 1;
            filter: contrast(120%);
    }
}
}
//fin fotos de sus eras

//albumes
.albumes-taylor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #080818;
    padding: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;

    .album {
        position: relative;
        margin: 25px;
        width: 500px;

        img {
            width: 100%;
            height: auto;
            display: block;
            transition: 0.5s ease;
        }

        &:hover {
            .album-text {
                opacity: 1;
            }
        }
    }

    .album-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;

        h2 {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        hr {
            border: none;
            border: 1px solid #ffffff;
            width: 50px;
            margin: 5px 0;
            opacity: 100%;
        }

        h3 {
            font-size: 20px;
            font-weight: 300;
            margin-top: 5px;
        }
    }

    .fearless-text {
        @extend .album-text;
        background: linear-gradient(to bottom, rgba(171, 122, 36, 0), rgba(171, 122, 36, 1));
        h2 {
            color: #ffffff;
        }
    }

    .speaknow-text {
        @extend .album-text;
        background: linear-gradient(to bottom, rgba(81, 22, 81, 0), rgba(81, 22, 81, 1));
        h2 {
            color: #ffffff;
        }
    }

    .red-text {
        @extend .album-text;
        background: linear-gradient(to bottom, rgba(149, 30, 26, 0), rgba(149, 30, 26, 1));
        h2 {
            color: #ffffff;
        }
    }

    .reputation-text {
        @extend .album-text;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        h2 {
            color: #ffffff;
        }
    }
}
//fin albumes

//Información sobre albumes + spotify
.disco {
	background-color: #080818;
	padding: 20px;
    display: flex;
	align-items: center;
	justify-content: center;

	&__taylor {
		margin: 50px 50px 50px 50px;
	}

	ol  {
		list-style: none;
		padding: 0; 
		}

	&__li {
			display: flex;
			flex-direction: column;
			padding: 30px;

			.discos-base {
                background-size: cover;
                width: 100%;
                display: flex;
                align-items: flex-start;
            }
            
            &.fearless {
                @extend .discos-base;
                background: url("../assets/images/disco-fearless.webp");
                margin-bottom: 30px;
            }
            
            &.speaknow {
                @extend .discos-base;
                background: url("../assets/images/disco-speaknow.webp");
                margin-bottom: 30px;
            }
            
            &.red {
                @extend .discos-base;
                background: url("../assets/images/disco-red.webp");
                margin-bottom: 30px;
            }
            
            &.reputation {
                @extend .discos-base;
                background: url("../assets/images/disco-reputation.webp");
                margin-bottom: 30px;
            }
		}
			
			&__title,
			&__description,
			&__year {
				margin: 20px 0px 20px 20px;
			}

			&__title {
                @include fuente-personalizada(700, 40px, $text-color);
			}

			&__description {
                @include fuente-personalizada(400, 18px, $text-color);
			}

			&__year {
                @include fuente-personalizada(400, 16px, $text-color);
			}

			&__spotify {
				display: flex;
				align-items: center;
				align-self: center;

			    iframe {
				border-radius: 12px;
				width: 400px;
				height: 450px;
				margin-bottom: 20px;
			}
		}
}

