//galeria de imagenes
.galeria {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../assets/images/fondo-galeria.png");
    background-repeat: repeat;
    padding: 7px;

    h2{
        display: flex;
        font-size: 40px;
        color: $primary-color;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        letter-spacing: 10px;
        justify-content: center;
        margin-top: 30px;
    }
}

.galeria__imagenes {
    @include flex-wrap;

    img {
    width: 650px;
    height: 500px;
    object-fit: cover;
    padding: 7px;
    }

    img:hover {
        opacity: 0.5;
        transition: 0.5s;
    }
}

//videos
.videos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../assets/images/fondo-galeria.png");
    padding: 7px;

    &__texto {
        position: relative;
        font-size: 40px;
        color: $primary-color;
        font-family: $font-family;
        font-weight: 500;
        letter-spacing: 10px;
        justify-content: center;
        margin-top: 30px;
        text-align: center;

        &::before {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            color: $accent-color;
            border-right: $accent-color;
            overflow: hidden;
            animation: animate 6s linear infinite;
        }
    }
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}

.videos__galeria {
    @include flex-wrap;
    margin-bottom: 50px;

    iframe {
    width: 630px;
    height: 385px;
    padding: 7px;
}

iframe:hover {
    opacity: 0.5;
    transition: 0.5s;
}
}

