//galeria de imagenes
.galeria {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../assets/images/fondo-galeria.png");
    background-repeat: repeat;
    padding: 7px;

    h2{
        display: flex;
        font-size: 40px;
        color: $primary-color;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        letter-spacing: 10px;
        justify-content: center;
        margin-top: 30px;
    }
}

.galeria__imagenes {
    @include flex-wrap;

    img {
    width: 650px;
    height: 500px;
    object-fit: cover;
    padding: 7px;
    }

    img:hover {
        opacity: 0.5;
        transition: 0.5s;
    }
}

//videos
.videos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../assets/images/fondo-galeria.png");
    padding: 7px;

    h2{
        display: flex;
        font-size: 40px;
        color: #12112E;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        letter-spacing: 10px;
        justify-content: center;
        margin-top: 30px;
        text-align: center;
    }    
}

.videos__galeria {
    @include flex-wrap;
    margin-bottom: 50px;

    iframe {
    width: 630px;
    height: 385px;
    padding: 7px;
}

iframe:hover {
    opacity: 0.5;
    transition: 0.5s;
}
}

