//degradado de fondo para mejorar contraste en TOUR
.bg-color {
    background-image: linear-gradient(to top, rgba(8, 8, 28, 1), rgba(8, 8, 28, 0.5));
    position: relative;
    z-index: -2;
}

//hero section
.hero {
    background: url("../assets/images/taylor_portada.webp") no-repeat center center fixed;
    background-size: cover;
    height: 920px;
    width: 100%;
    margin-top: 0;
    @include flex-center (row);
    overflow: auto;
}

.hero__section {
    position: sticky;
    top: 0;
    padding: 20px;
    text-align: center;

    h1 {
        @include fuente-personalizada(700, 70px, $text-color);
        margin: 0;
        padding-top: 500px;
        letter-spacing: 3px;
    }

    hr {
        width: 200%;
        height: 2px;
        background-color: $text-color;
        margin: 15px auto 15px -50%;
        border-top: none;
        opacity: 100%;
    }

    p {
        @include fuente-personalizada(500, 20px, $text-color);
        margin: 0;
    }
}

//caracteristicas
.caracteristicas {
    grid-area: destacado;
    background: url("../assets/images/fondo-erastaylor.webp");
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 60px;
    margin-top: 0px;
}

.caracteristicas__lista {
    @include flex-properties(row, space-between, center);
}

.caracteristicas__item {
    text-align: center;
    padding: 10px;

    dd {
        margin: 0;
    }

    h2 {
        @include fuente-personalizada(700, 30px, $primary-color);
        margin: 15px 0 15px 0;
    }

    p {
        @include fuente-personalizada(400, 20px, $alternative-textcolor);
        margin: 5px 50px 5px 50px;
    }

    .ba::before {
        color: $primary-color;
        font-size: 70px;
    }
}

//Tour
.tour {
    position: relative;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 70px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "area1 area1"
        "c1 c2"
        "area4 area4";

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/fondo_contenido_tres.webp");
        background-size: cover;
        opacity: 0.5;
        z-index: -1;
    }

    &__titulo,
    &__informacion {
        display: flex;
        align-items: center;
    }

    &__titulo {
        grid-area: area1;

        h2 {
            @include fuente-personalizada(500, 40px, #fff);
            letter-spacing: 10px;
        }

        hr {
            border: none;
            border-top: 2px solid #ffffff;
            width: 250px;
            margin-left: 0px;
            margin-top: 20px;
            opacity: 100%;
        }
    }

    &__columnauno .info {
        grid-area: c1;
        @include columna-tourpropiedades(20px, 24px, 16px, 15px, #ff0000);
    }

    &__columnados .info {
        grid-area: c2;
        @include columna-tourpropiedades(20px, 24px, 16px, 15px, #ff0000);
    }

    &__informacion {
        grid-area: area4;
        display: flex;
        align-items: center;

        p {
            @include fuente-personalizada(400, 16px, #fff);
            text-align: center;
            padding: 50px;
            margin: 0px;
        }
    }
}