//INDEX
@media (max-width: 1099px) {
    .hero__section {
        hr {
            width: 750px;
            margin: 15px auto;
        }
    }
}

@media (max-width: 1000px) {
    .bg-color {
        background-image: none;
    }

    .tour {
        position: relative;

        &::before {
            opacity: 1;
        }
    }
}

@media (max-width: 920px) {
    .caracteristicas__lista {
        flex-direction: column;
        justify-content: space-between;
    }

    .caracteristicas__item {
        p {
            font-size: 20px;
            margin-left: 150px;
            margin-right: 150px;
        }
    }
}

@media (max-width: 895px) {
    .hero__section {
        hr {
            width: 550px;
        }
    }

    .caracteristicas__item {
        text-align: center;
        padding: 10px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .tour {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "area1"
            "c1"
            "c2"
            "area4";

        &__columnauno {
            grid-area: c1;
            justify-self: center;
            margin-top: 100px;
        }

        &__columnados {
            grid-area: c2;
            justify-self: center;

            ol li {
                list-style: none;
                padding: 0;
                margin-left: 30px;
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 615px) {
    .hero__section {
        h1 {
            @include fuente-personalizada(600, 50px, $text-color);
            letter-spacing: 0;
        }

        hr {
            width: 100px;
        }
    }

    .caracteristicas {
        &__lista {
            @include flex-center(column);
            padding: 0;
            margin-top: 0;
        }

        dl {
            margin-bottom: 0;
        }

        &__item {
            text-align: center;
            padding: 20px 0;

            dd {
                margin: 0;
            }

            dt {
                img {
                    padding: 5px;
                    width: 70px;
                    height: 70px;
                }
            }

            h2 {
                font-size: 25px;
                margin: 10px 0;
            }

            p {
                font-size: 16px;
                margin: 0;
                padding: 0 20px;
            }
        }
    }

    .tour {
        padding: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "area1"
            "c1"
            "c2"
            "area4";

        &__titulo {
            hr {
                width: 0;
            }
        }

        &__columnauno,
        &__columnados {
            justify-self: flex-start;
            margin: 30px 0;
        }

        &__columnados {
            margin-top: -24px;
        }

        ol li,
        ol {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .tour__informacion {
            justify-content: flex-start;

            p {
                text-align: left;
                padding: 0;
            }
        }
    }
}

@media (max-width: 430px) {
    .tour {
        padding: 25px;

        &__columnauno .info {
            grid-area: c1;
            @include columna-tourpropiedades(16px, 20px, 16px, 22px, #ff0000);
        }

        &__columnados .info {
            grid-area: c1;
            @include columna-tourpropiedades(16px, 20px, 16px, 22px, #ff0000);
        }
    }
}

//DISCOGRAFIA
@media (max-width: 1620px) {
    .discografia__taylor {
        position: absolute;
        width: 700px;
        z-index: 1;
    }
}

@media (max-width: 1280px) {
    .discografia__taylor {
        position: absolute;
        width: 500px;
        z-index: 1;
    }
}

@media (max-width: 835px) {
    .discografia__titulo {
        margin-top: 50px;
        margin-left: 10px;

        h1 {
            font-size: 60px;
            padding: 40px;
        }
    }

    .discografia__spotify {
        margin-left: 110px;
    }

    .discografia__content .datos {

        &__ol {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            gap: 25px;
        }

        &__li {
            margin-left: 10px;
        }
    }
}

@media (max-width: 700px) {
    .discografia__taylor {
        position: absolute;
        width: 500px;
        z-index: -1;
    }
}

//eras taylor
@media (max-width: 400px) {
    .eras {
        img {
            &:hover {
                width: 150px;
            }
        }
    }
}

//albumes
@media (max-width: 480px) {
    .albumes-taylor {
        padding: 20px
    }

    .album-text {
        h2 {
            font-size: 28px;
        }

        p {
            font-size: 16px;
        }
    }
}

//disco
@media (max-width: 1100px) {
    .disco {
        .disco__nombre {
            display: flex;
            flex-direction: column;

            .disco__content {
                margin-right: 40px;
            }

            &.fearless {
                background-position: center center;
            }

            &.speaknow {
                background-position: center center;
            }

            &.red {
                background-position: center center;
            }

            &.reputation {
                background-position: center center;
            }

            .disco__spotify {
                margin: 25px 0 0 0;
                align-self: center;
            }
        }
    }
}

@media (max-width: 540px) {
    .disco {
        padding: 0px 20px 0px 20px;

        .disco__nombre {
            padding: 15px;

            .disco__content {
                margin-right: 20px;
            }

            .disco__spotify {
                iframe {
                    width: 300px;
                    height: 450px;
                }
            }
        }
    }
}

@media (max-width: 415px) {
    .disco {
        padding: 0px 0px 0px 0px;

        .disco__nombre {
            padding: 10px;

            .disco__content {
                margin-right: 0px;
            }

            .disco__title {
                font-size: 30px;
                margin-left: 10px;
            }

            .disco__description {
                font-size: 16px;
                margin-left: 10px;
            }

            .disco__year {
                margin-left: 10px;
            }

            .disco__spotify {
                iframe {
                    width: 270px;
                    height: 100px;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .disco {
        &__taylor {
            margin: 0px;
            padding: 0px;
            padding-block-end: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

        .disco__nombre {
            padding: 10px;
            margin: -4px;

            .disco__spotify {
                iframe {
                    width: 225px;
                }
            }
        }
    }
}

//GALERIA
//imagenes / videos
@media (max-width: 700px) {

    .galeria__imagenes img,
    .videos__galeria iframe {
        object-fit: cover;
        padding: 7px;
    }

    .galeria__imagenes img {
        width: 450px;
        height: 300px;
    }

    .videos__galeria iframe {
        width: 460px;
        height: 215px;
    }
}

//imagenes / videos
@media (max-width: 550px) {
    .galeria__imagenes img {
        width: 350px;
        height: 200px;
    }

    .videos__galeria iframe {
        width: 350px;
        height: 200px;
    }

    .slider-nav {
        bottom: 1rem;

        a {
            width: 0.4rem;
            height: 0.4rem;
        }
    }
}

//imagenes / videos
@media (max-width: 400px) {
    .galeria__imagenes img {
        width: 250px;
        height: 130px;
    }

    .videos__galeria iframe {
        width: 250px;
        height: 125px;
    }

    .slider-nav {
        bottom: 13px;

        a {
            width: 0.3rem;
            height: 0.3rem;
        }
    }
}

// TS FACTS
//carousel (tambien aplica al carousel de galeria)
@media (max-width: 1920px) {
    .carousel-item img {
        height: 800px;
    }
}

@media (max-width: 1000px) {
    .carousel-item img {
        width: 100%;
        height: auto;
    }
}

//cards
@media (max-width: 450px) {
    .tarjetas__cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .carousel-indicators [data-bs-target] {
        height: 5px;
        width: 5px;
    }
}

@media (max-width: 400px) {
    .facts {
        padding: 40px;
    }

    .facts__titulo {
        hr {
            width: 50px;
        }
    }

    .rectangulo {
        margin: 0 0 40px 0;
        padding: 10px;

        P {
            text-align: center;
        }
    }
}

// CAROUSEL MEDIA QUERIES 
@media (max-width: 1000px) {

    .carousel-inner,
    .carousel-item,
    .carousel-item img {
        height: 100%;
        object-fit: cover;
    }

    .carousel-item h3 {
        @include fuente-personalizada(600, 19px, $text-color);
    }
}

@media (max-width: 610px) {
    .carousel-caption {
        display: none;
    }
}

//CONTACTO
// formulario de contacto media queries 
@media (max-width: 991px) {
    .contacto {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contacto__info {
        margin-bottom: 40px;
    }

    .container .contacto__info,
    .contacto__form {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .contacto {
        padding: 30px;
    }

    .container {
        width: 100%;

        .contacto__info {
            width: 100%;

            .box {

                padding: 30px 0;

                .icon {
                    min-width: 40px;
                    height: 40px;
                    width: 40px;
                    font-size: 18px;
                }
            }
        }
    }

    .mapa {
        padding: 10px;
        height: 30vh;
    }
}