/* Animación */
@keyframes fadeinleft {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

/* Animación a todo el contenido */
.tsfacts-contenedor {
	animation: fadeinleft 1s ease-out;
}

//curiosidades portada
.curiosidades {
	background-image: url("../assets/images/tsfacts-portada.webp");
	background-size: cover;
	@include flex-properties(column, center, center);
	min-height: 50vh;
	max-height: 100%;


	h1 {
		text-align: center;
		@include fuente-personalizada(600, 30px, $text-color);
		letter-spacing: 3px;
	}
}

//cards
.taylor-cards {
	background-color: #08081c;
	height: 100%;
	display: grid;
	place-items: center center;
	font-family: 'Montserrat', sans-serif;
	padding: 50px 0 50px 0;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	padding: 20px;
	grid-gap: 40px;
}

.card {
	background-color: $primary-color;
	border-radius: 20px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.card-container {
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

	img {
		width: 100%;
		display: block;
		border-radius: 20px 20px 0 0;
	}

	&:after {
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 20px 20px 0 0;
		opacity: 0.7;
		transition: 0.5s ease;
	}

	&.gradient {
		&:hover {
			&::after {
				background-image: linear-gradient(135deg, #12112E, #ff9900);
			}
		}
	}

	&.gradientdos {
		&:hover {
			&::after {
				background-image: linear-gradient(135deg, #12112E, #0100ec);
			}
		}
	}

	&.gradienttres {
		&:hover {
			&::after {
				background-image: linear-gradient(135deg, #12112E, #fb36f4);
			}
		}
	}
}

.cards__detalles {
	padding: 20px 10px;

	h2 {
		@include fuente-personalizada(700, 18px, $text-color);
		margin: 10px 0 15px 15px;
	}

	p {
		@include fuente-personalizada(400, 16px, #B7B7B7);
		line-height: 30px;
		margin-left: 15px;
	}
}

//carousel
.carousel-inner,
.carousel-item,
.carousel-item img {
	height: 500px;
	object-fit: cover;

	h3 {
		@include fuente-personalizada(600, 25px, $text-color)
	}

	p {
		@include fuente-personalizada(400, 16px, $text-color)
	}
}

.carousel-indicators [data-bs-target] {
	height: 9px;
	width: 9px;
	border-radius: 100%;
}

.carousel-item::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to top, rgba(8, 8, 28, 1), rgba(8, 8, 28, 0));
	z-index: 0;
}

//seccion para datos
.facts {
	background: url("../assets/images/taylor-datos.webp");
	background-size: cover;
	padding: 60px;
}

.facts__titulo {
	h2 {
		@include fuente-personalizada(500, 35px, $text-color);
	}

	hr {
		width: 300px;
		height: 2px;
		background-color: $text-color;
		margin-top: 20px;
		border-top: none;
		opacity: 1;
	}
}

.container-rectangulo {
	@include flex-wrap;
	margin: 100px 0 100px 0;
}

.rectangulo {
	width: 200px;
	height: 150px;
	border: 2px solid #fff;
	margin: 20px;
	padding: 10px;
	box-sizing: border-box;
	@include flex-properties(column, center, center);

	h4 {
		@include fuente-personalizada(700, 35px, $accent-color);
		margin: 0;
	}

	P {
		@include fuente-personalizada(400, 15px, #FFF);
		margin: 0;
	}
}